.header{
    background-color: $main;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .header-content{
        margin: rem(20) 0;
        .header-title{
            h1{
                color: $white;
            }
        }
        .header-desc{
            margin: rem(20) 0;
            p{
                color: $white;
                font-size: rem(14);
            }
        }
   
    }
}