//common
$main: #003580;
$secondary:#009fe3;
$dark-blue: #0e1726;
$bg: #f1f2f3;
$light: #fafafa;
$text: #3b3f5c;
$border: #d7e0ea;
$icon: #506690;
$gray:rgb(118, 117, 117);
$black: #000;
$white: #fff;
$borderColor:#ebebeb;
$orangeBorder:rgb(255, 166, 0);


$Bradius:4px;



/* box shadow */

$shadowOptions:0px 0px 10px -5px rgba(0, 0, 0, 0.4);